body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30%;
  height: auto;
  margin: 30px;
  margin-right: 45px;
  color: rgb(251, 240, 240);
}

.logo-text {
  font-size: 70px;
  color: rgba(229, 95, 95, 0.995);
}

.container {
  max-width: 280px;
  margin: 220px;
  padding: 20px;
}

h1, h2 {
  color: rgba(54, 45, 45, 0.685);
  margin: 30px;
  padding: 10px;
}

p {
  color: #ffffff;
  margin: -30px;
  padding: -10px;
}

/* Gaya navigasi */
header {
  background-color: none;
  padding: 10px;
  margin: 30px;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
}

/* Gaya slide gambar */
.slideshow-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.slide {
  display: none;
  fill: ;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide-caption {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #ffffff;
}

/* Gaya tombol navigasi */
.prev,
.next {
  position: absolute;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

.prev {
  left: 10px;
  bottom: 50px;
}

.next {
  right: 10px;
  bottom: 50px;
}

/* Responsif */
@media screen and (max-width: 600px) {
  .logo {
    width: 50%;
    margin: 20px;
    margin-right: 25px;
  }
  
  .logo-text {
    font-size: 40px;
  }
  
  .container {
    max-width: 100%;
    margin: 20px;
    padding: 10px;
  }
  
  h1, h2 {
    margin: 20px;
    padding: 5px;
  }
  
  p {
    margin: -20px;
    padding: -5px;
  }
  
  header {
    margin: 20px;
    padding: 5px;
  }
  
  nav ul li {
    margin-right: 5px;
  }
  
  .slide-caption {
    bottom: 30px;
    left: 30px;
  }
}

/* Responsive Styles for Phone */
@media screen and (max-width: 480px) {
  .logo {
    margin: 10px;
  }
  
  .logo-text {
    font-size: 24px;
  }
  
  .container {
    margin: 10px;
    padding: 5px;
  }
  
  h1, h2 {
    margin: 10px;
    padding: 5px;
  }
  
  p {
    margin: -10px;
    padding: -5px;
  }
  
  header {
    margin: 10px;
    padding: 5px;
  }
  
  nav ul li {
    margin-right: 5px;
  }
  
  .slide-caption {
    bottom: 20px;
    left: 20px;
  }
  
  .prev,
  .next {
    font-size: 18px;
    padding: 5px;
    bottom: 20px;
  }
  
  .prev {
    left: 5px;
  }
  
  .next {
    right: 5px;
  }
}
